.meal {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    span.grippy {
        content: '...';
        width: 20px; // height: 25px;
        display: inline-block;
        overflow: hidden;
        line-height: 5px; // padding: 3px 4px;
        cursor: move;
        vertical-align: middle; // margin-top: -.7em;
        // margin-right: .3em;
        font-size: 12px;
        font-family: sans-serif;
        letter-spacing: 2px;
        color: #cccccc;
        text-shadow: 1px 0 1px black;
    }
    span.grippy::after {
        content: '.. .. .. ..';
    }
    .value-chk {}
    .value-att {
        flex: 1 1 0%;
        padding-left: 5px;
        .value-day {
            font-size: .8em;
            color: rgb(133, 155, 151);
        }
        .value-time {
            font-size: .8em;
            color: rgb(172, 149, 149);
        }
        .value-text {
            padding-left: 10px;
            flex: 1 1 0%;
            .multi_lines_text {
                white-space: pre-line;
            }
        }
        span.completed {
            color: #9d9d9d;
            text-decoration: line-through;
        }
    }
    .value-controls {
        box-sizing: border-box;
        font-size: 1.1em;
        display: none; // margin: 10px;
        color: rgb(128, 79, 197);
    }
    &:hover {
        .value-controls {
            display: block;
            cursor: pointer;
            .value-edit,
            .value-delete {
                box-sizing: border-box;
                transition: color 0.3s ease;
                margin: 0 5px;
            }
            .value-edit:hover {
                color: rgb(172, 58, 58);
            }
            .value-delete:hover {
                color: rgb(172, 58, 58);
            }
        }
    }
}
