<div class="overlay" *ngIf="showPrompt">
    <mat-card class="modalDialog">
        <mat-toolbar class="center" color="primary">
            {{ title }}
        </mat-toolbar>
        <mat-card-content *ngIf="meal !== null">
            <select [(ngModel)]="selectedDay">
                <option *ngFor="let day of DayList" [value]="day">{{ day | translate }}</option>
            </select>
            <select [(ngModel)]="selectedTime">
                <option *ngFor="let time of TimeList" [value]="time">{{ time | translate }}</option>
            </select>
            <div class="full-width">
                <textarea autosize class="full-width" matInput placeholder="{{ 'What do you need to cook?' | translate }}" matTextareaAutosize matAutosizeMinRows="1"
                        matAutosizeMaxRows="5" [(ngModel)]="meal.title" (keyup.escape)="emitValue(false)"></textarea>
                <!-- <textarea autosize placeholder="{{ 'What do you need to cook?' | translate }}" [(ngModel)]="meal.title" (keyup.escape)="emitValue(false)"></textarea> -->
            </div>
        </mat-card-content>
        <mat-card-content *ngIf="meal === null">
            <select [(ngModel)]="selectedDay">
                <option *ngFor="let day of DayList" [value]="day">{{ day | translate }}</option>
            </select>
            <select [(ngModel)]="selectedTime">
                <option *ngFor="let time of TimeList" [value]="time">{{ time | translate }}</option>
            </select>
            <div class="full-width">
                <textarea autosize class="full-width" matInput placeholder="{{ 'What do you need to cook?' | translate }}" matTextareaAutosize
                        matAutosizeMinRows="1" matAutosizeMaxRows="5" [(ngModel)]="_meal.title" (keyup.escape)="emitValue(false)"></textarea>
                <!-- <textarea autosize placeholder="{{ 'What do you need to cook?' | translate }}" [(ngModel)]="_meal.title" (keyup.escape)="emitValue(false)"></textarea> -->
            </div>
        </mat-card-content>
        <mat-card-actions class="center">
            <button mat-button (click)="emitValue(false)" color="primary">{{ 'cancel' | translate }}</button>
            <button mat-raised-button (click)="emitValue(true)" color="primary">{{ okText }}</button>
        </mat-card-actions>
    </mat-card>
</div>
