<div id="parent">
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/tasks" routerLinkActive="active"> {{ 'tasks' | translate }} </button>
        <button mat-menu-item routerLink="/purchases" routerLinkActive="active"> {{ 'purchases' | translate }} </button>
        <button mat-menu-item routerLink="/meals" routerLinkActive="active"> {{ 'meals' | translate }} </button>
        <button mat-menu-item routerLink="/notes" routerLinkActive="active"> {{ 'notes' | translate }} </button>
        <button mat-menu-item routerLink="/" routerLinkActive="inactive"> {{ 'about' | translate }} </button>

        <div class="flags-container">
            <div class="flag-container" *ngFor="let lang of supportedLanguages" [class.selected-lang]="isCurrentLang(lang.value)">
                <img (click)="selectLang(lang.value)" class="flag-lang" [src]="'../assets/' + lang.value + '.png'" alt="{{ lang.display }}">
            </div>
        </div>
    </mat-menu>

    <button mat-icon-button id="menu-button" [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="page" *ngIf="gs.apiBaseUrl">
        <router-outlet></router-outlet>
    </div>

</div>
