<div id="parent">
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/tasks" routerLinkActive="active"> Tasks </button>
        <button mat-menu-item routerLink="/purchases" routerLinkActive="active"> Purchases </button>
        <button mat-menu-item routerLink="/meals" routerLinkActive="active"> Meals </button>
        <button mat-menu-item routerLink="/notes" routerLinkActive="active"> Notes </button>
        <button mat-menu-item routerLink="/" routerLinkActive="inactive"> About </button>
    </mat-menu>
    <button mat-icon-button id="menu-button" [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="page">
        <router-outlet></router-outlet>
    </div>
</div>
