<div id="taskapp">
    <h1 id="title">{{ title }}</h1>
    <app-list-container [values]="tasks" [type]="'tasks'" [activeElements]="activeTasks" (onCheck)="Check($event)" (onEdit)="Dialog($event)"
        (onDestroy)="Destroy($event)" (onSetAllState)="SetAllState($event)" (onDialog)="Dialog($event)" (onSort)="Sort($event)"
        (onClearCompleted)="ClearCompleted()"></app-list-container>
</div>

<app-task-dialog [title]="modalTitle" [okText]="okButtonText" [task]="editingTask"
    (valueEmitted)="CommitDialog($event)" [showPrompt]="showDialog">
</app-task-dialog>
