<div id="todoapp">
    <div id="box" class="effect">
        <div id="header">
            <i class="fa fa-chevron-down vertical-align-middle" [ngClass]="(areAllSelected==true)?'allSelected':'notAllSelected'" (click)="setTodosState()"></i>

            <span class="addButton" (click)="todoDialog()">
                <i class="fa fa-plus"></i>
            </span>
        </div>

        <div id="list" *ngIf="todos?.length">
            <div class="list-item" *ngFor="let todo of todos | tasksFilter: filterType; let i = index;" class="list-item">
                <mat-checkbox class="todo-chk" color="primary" type="checkbox" [checked]="todo.isDone" (change)="checkTodo(todo)">
                </mat-checkbox>

                <div class="todo-text">
                    <span [class.completed]="todo.isDone">{{ todo.title }}</span>
                </div>
                <div class="todo-controls">
                    <span class="todo-edit fa fa-pencil" (click)="todoDialog(todo)"></span>
                    <span class="todo-delete fa fa-trash-o" (click)="destroyTodo(todo)"></span>
                </div>
                <br>
            </div>
        </div>

        <div id="footer">
            <div id="left"> {{ activeTasks }} item left</div>
            <div id="filters">
                <div class="filter" [ngClass]="(filterType=='All')?'filterSelected':'filterNotSelected'" (click)="filter('All')">All</div>
                <div class="filter" [ngClass]="(filterType=='Active')?'filterSelected':'filterNotSelected'" (click)="filter('Active')">Active</div>
                <div class="filter" [ngClass]="(filterType=='Completed')?'filterSelected':'filterNotSelected'" (click)="filter('Completed')">Completed</div>
            </div>
            <div id="clear" *ngIf="activeTasks < todos?.length">
                <!-- <button (click)="clearCompleted()">Clear completed</button> -->
                <span class="btn-clear" (click)="clearCompleted()">Clear completed</span>
            </div>
        </div>
    </div>
</div>

<app-task-dialog [title]="modalTitle" [placeholder]="'What do you need to do?'" [okText]="okButtonText" [value]="fieldValue"
    (valueEmitted)="addTodo($event)" [showPrompt]="showDialog">
</app-task-dialog>
