<div class="task">
    <span class="grippy"></span>
    <mat-checkbox class="task-chk" color="primary" type="checkbox" [checked]="task.isDone" (change)="CheckTask()">
    </mat-checkbox>

    <div class="task-text">
        <span [class.completed]="task.isDone">{{ task.title }}</span>
    </div>
    <div class="task-controls">
        <span class="task-edit fa fa-pencil" (click)="EditTask()"></span>
        <span class="task-delete fa fa-trash-o" (click)="DestroyTask()"></span>
    </div>
</div>
