<div class="task">
    <span class="grippy" dnd-sortable-handle></span>
    <mat-checkbox class="value-chk" color="primary" type="checkbox" [checked]="task.isDone" (change)="Check()">
    </mat-checkbox>

    <div class="value-text">
        <span [class.completed]="task.isDone">{{ task.title }}</span>
    </div>
    <div class="value-controls">
        <span class="value-edit fa fa-pencil" (click)="Edit()"></span>
        <span class="value-delete fa fa-trash-o" (click)="Destroy()"></span>
    </div>
</div>
